.poemDisplay{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 800px;
	width: 95%;
}

.toolBar-wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
}

h2{
	text-align: left;
	margin-left: 0px;
}

.poemDisplay p{
	display: block;
}

.toolBar-wrapper p{
	display: inline-block;
	margin-top: 10px;
}

.toolBar-wrapper button{
	margin-right: 10px;
}

.content-wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
}