.poemDisplayComments{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 800px;
	width: 95%;
}

.comment{
	margin-bottom: 20px;
	border-left: 2px solid dodgerblue;
	padding: 5px;
}

.reply{
	margin: 20px;
	border-left: 2px solid dodgerblue;
	padding: 5px;
}

.reply p{
	padding: 5px 0px;
}

.comment p{
	padding: 5px 0px;
}

.clickable{
	color: dodgerblue;
}

.clickable:hover{
	cursor: pointer;
	color: darkblue;
}

.display-comments:hover{
	color: darkblue;
	cursor: pointer;
}

.poemDisplayComments p{
	margin-left: 10px;
	display: block;
}