* {
	box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

label{
	font-size: 18px;
}

.icon{
	width: 20px;
	display: inline-block;
	padding-right: 5px;
}

.icon-number{
	display: inline-block;
	font-size: 19px;
	padding-right: 20px;
}

.date{
	display: inline-block;
	padding-right: 20px;
}

p{
	margin: 0px;
	font-size: 18px;
}

h4{
	margin: 0px;
}

.authLink{
	color: gray;
}

.authLink:hover{
	color: darkgray;
}

.common-button{
	font-size: 14px;
	padding: 5px;
	width: 100px;
	margin-top: 20px;
	border: 1px solid;
	border-radius: 2px;
	font-weight: bold;
}

.common-button:enabled{
	cursor: pointer;
	background-color: lightblue;
	border-color: dodgerblue;
	color: darkblue;
}

.common-button:enabled.common-button:hover{
	background-color: dodgerblue;
	color: white;
}

.warning-button{
	font-size: 14px;
	padding: 5px;
	min-width: 100px;
	margin-top: 20px;
	border: 1px solid;
	border-radius: 2px;
	font-weight: bold;
}

.warning-button:enabled{
	cursor: pointer;
	background-color: tomato;
	border-color: red;
	color: white;
}

.warning-button:enabled.warning-button:hover{
	background-color: red;
	color: white;
}

.author{
	color: dodgerblue;
}

input{
	max-width: 300px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

textarea{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}